/* Definição das cores principais */
body {
    font-family: Arial, sans-serif;
    background: url('fotos/background.jpg') center/cover no-repeat fixed;
}

/* Navbar */
.bg-purple {
    background-color: #5D2490 !important;
}

/* Seção Hero */
.hero {
    display: flex;
    background: url('fotos/banner.jpg') center/cover no-repeat;
    height: 60vh;
    align-items: center;
    justify-content: left;
    color: white;
    text-align: center;
    position: relative;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* Seção de Notícias */
.news img {
    width: 100%;
    border-radius: 10px;
    
}

/* Seção de Estatísticas */
.stats {
    background-color: #5D2490;
    color: white;
    padding: 40px 0;
}

/* Seção CTA */
.container .btn {
    margin: 10px;
}

/* Rodapé */
.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
}

.footer img {
    margin-bottom: 10px;
}
